<!DOCTYPE html>
<!-- saved from url=(0048)file:///D:/Code/ShopHoa/template/my-account.html -->
<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="en">
<!-- Mirrored from htmldemo.net/flosun/flosun/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Dec 2022 05:03:27 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FloSun - Flower Shop HTML5 Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Biểu tượng yêu thích -->
    <link rel="shortcut icon" type="image/x-icon" href="file:///D:/Code/ShopHoa/template/assets/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/FloSun - Flower Shop HTML5 Template_files/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="./FloSun - Flower Shop HTML5 Template_files/style.css">

</head>

<body style="overflow: visible;">

    <!-- Khu vực tiêu đề Bắt đầu ở đây -->
    <header class="main-header-area">
        <!-- Khu vực tiêu đề chính Bắt đầu-->
        <div class="main-header header-sticky">
            <div class="container custom-area">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                        <div class="header-logo d-flex align-items-center">
                            <a href="file:///D:/Code/ShopHoa/template/index.html">
                                <img class="img-full" src="./FloSun - Flower Shop HTML5 Template_files/logo.png" alt="Header Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                        <nav class="main-nav d-none d-lg-flex">
                            <ul class="nav">
                                <li>
                                    <a href="file:///D:/Code/ShopHoa/template/index.html">
                                        <span class="menu-text">Trang Chủ</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        <li><a href="file:///D:/Code/ShopHoa/template/index.html">Trang Chủ - 1</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/index-2.html">Trang Chủ - 2</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/index-3.html">Trang Chủ - 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="active" href="file:///D:/Code/ShopHoa/template/shop.html">
                                        <span class="menu-text">Cửa Hàng</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <div class="mega-menu dropdown-hover">
                                        <div class="menu-colum">
                                            <ul>
                                                <li><span class="mega-menu-text">Cửa Hàng</span></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop.html">Mua Sắm Ở Thanh Bên Trái</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-right-sidebar.html">Mua Sắm Ở Thanh Bên Phải</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-list-left.html">Danh Sách Cửa Hàng Thanh Bên Trái</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-list-right.html">Danh Sách Cửa Hàng Thanh Bên Phải</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-fullwidth.html">Cửa Hàng Toàn Chiều Rộng</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-colum">
                                            <ul>
                                                <li><span class="mega-menu-text">Sản Phẩm</span></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/product-details.html">Sản Phẩm Duy Nhất</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/variable-product-details.html">Sản Phẩm Biến Đổi</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/external-product-details.html">Sản Phẩm Bên Ngoài</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/gallery-product-details.html">Thư Viện Sản Phẩm</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/countdown-product-details.html">Sản Phẩm Đếm Ngược</a></li>
                                            </ul>
                                        </div>
                                        <div class="menu-colum">
                                            <ul>
                                                <li><span class="mega-menu-text">Người Khác</span></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/error-404.html">Lỗi 404</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/compare.html">So Sánh Trang</a></li>
                                                <li><a class="active" href="file:///D:/Code/ShopHoa/template/cart.html">Trang Giỏ Hàng</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/checkout.html">Trang Thanh Toán</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/wishlist.html">Trang Danh Sách Yêu Thích</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="file:///D:/Code/ShopHoa/template/blog-details-fullwidth.html">
                                        <span class="menu-text">Blog</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog.html">Thanh Bên Trái Của Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-list-right-sidebar.html">Danh Sách Blog Thanh Bên Phải</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-list-fullwidth.html">Danh Sách Blog Toàn Chiều Rộng</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid.html">Trang Lưới Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid-right-sidebar.html">Lưới Blog Thanh Bên Phải</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid-fullwidth.html">Toàn Bộ Chiều Rộng Lưới Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-details-sidebar.html">Chi Tiết Blog Trang Thanh Bên</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-details-fullwidth.html">Chi Tiết Blog Trang Toàn Chiều Rộng</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#">
                                        <span class="menu-text"> Trang</span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-submenu dropdown-hover">
                                        <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Liên Hệ</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/my-account.html">Tài Khoản Của Tôi</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/frequently-questions.html">Câu Hỏi Thường Gặp </a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/login.html">Đăng Nhập</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/register.html">Đăng Ký</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="file:///D:/Code/ShopHoa/template/about-us.html">
                                        <span class="menu-text">Về Chúng Tôi</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="file:///D:/Code/ShopHoa/template/contact-us.html">
                                        <span class="menu-text">Liên Hệ Chúng Tôi</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 col-custom">
                        <div class="header-right-area main-nav">
                            <ul class="nav">
                                <li class="minicart-wrap">
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#" class="minicart-btn toolbar-btn">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="cart-item_count">3</span>
                                    </a>
                                    <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                        <div class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="file:///D:/Code/ShopHoa/template/cart.html"><img src="./FloSun - Flower Shop HTML5 Template_files/1.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-text">
                                                <h5 class="title"><a href="file:///D:/Code/ShopHoa/template/cart.html">Hậu quả của việc tra tấn Odio</a></h5>
                                                <div class="cart-text-btn">
                                                    <div class="cart-qty">
                                                        <span>1×</span>
                                                        <span class="cart-price">$98.00</span>
                                                    </div>
                                                    <button type="button"><i class="ion-trash-b"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="file:///D:/Code/ShopHoa/template/cart.html"><img src="./FloSun - Flower Shop HTML5 Template_files/2.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-text">
                                                <h5 class="title"><a href="file:///D:/Code/ShopHoa/template/cart.html">Số nguyên eget augue</a></h5>
                                                <div class="cart-text-btn">
                                                    <div class="cart-qty">
                                                        <span>1×</span>
                                                        <span class="cart-price">$98.00</span>
                                                    </div>
                                                    <button type="button"><i class="ion-trash-b"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="file:///D:/Code/ShopHoa/template/cart.html"><img src="./FloSun - Flower Shop HTML5 Template_files/3.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-text">
                                                <h5 class="title"><a href="file:///D:/Code/ShopHoa/template/cart.html">Eleifend quam</a></h5>
                                                <div class="cart-text-btn">
                                                    <div class="cart-qty">
                                                        <span>1×</span>
                                                        <span class="cart-price">$98.00</span>
                                                    </div>
                                                    <button type="button"><i class="ion-trash-b"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-price-total d-flex justify-content-between">
                                            <h5>Tổng cộng :</h5>
                                            <h5>$166.00</h5>
                                        </div>
                                        <div class="cart-links d-flex justify-content-between">
                                            <a class="btn product-cart button-icon flosun-button dark-btn" href="file:///D:/Code/ShopHoa/template/cart.html">Xem giỏ hàng</a>
                                            <a class="btn flosun-button secondary-btn rounded-0" href="file:///D:/Code/ShopHoa/template/checkout.html">Thủ tục</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="sidemenu-wrap">
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-search"></i> </a>
                                    <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
                                        <li>
                                            <form action="file:///D:/Code/ShopHoa/template/my-account.html#">
                                                <input name="search" id="search" placeholder="Search" type="text">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li class="account-menu-wrap d-none d-lg-flex">
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#" class="off-canvas-menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                                <li class="mobile-menu-btn d-lg-none">
                                    <a class="off-canvas-btn" href="file:///D:/Code/ShopHoa/template/my-account.html#">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phần cuối của tiêu đề chính -->
        <!-- bắt đầu menu ngoài canvas -->
        <aside class="off-canvas-wrapper" id="mobileMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <div class="off-canvas-inner">
                    <div class="search-box-offcanvas">
                        <form>
                            <input type="text" placeholder="Search product...">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- bắt đầu menu di động -->
                    <div class="mobile-navigation">
                        <!-- bắt đầu điều hướng menu di động -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children">
                                    <span class="menu-expand"><i></i></span>
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Trang Chủ</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="file:///D:/Code/ShopHoa/template/index.html">Trang Chủ 1</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/index-2.html">Trang Chủ 2</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/index-3.html">Trang Chủ 3</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/index-4.html">Trang Chủ 4</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <span class="menu-expand"><i></i></span>
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Cửa Hàng</a>
                                    <ul class="megamenu dropdown" style="display: none;">
                                        <li class="mega-title has-children">
                                            <span class="menu-expand"><i></i></span>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Bố Cục Cửa Hàng</a>
                                            <ul class="dropdown" style="display: none;">
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop.html">Mua Sắm Ở Thanh Bên Trái</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-right-sidebar.html">Mua Sắm Ở Thanh Bên Phải</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-list-left.html">Danh Sách Cửa Hàng Thanh Bên Trái</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-list-right.html">Danh Sách Cửa Hàng Thanh Bên Phải</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/shop-fullwidth.html">Cửa Hàng Toàn Chiều Rộng</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-title has-children">
                                            <span class="menu-expand"><i></i></span>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Thông Tin Chi Tiết Sản Phẩm</a>
                                            <ul class="dropdown" style="display: none;">
                                                <li><a href="file:///D:/Code/ShopHoa/template/product-details.html">Chi Tiết Sản Phẩm Duy Nhất</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/variable-product-details.html">Chi Tiết Sản Phẩm Thay Đổi</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/external-product-details.html">Chi Tiết Sản Phẩm Bên Ngoài</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/gallery-product-details.html">Thư Viện Ảnh Chi Tiết Sản Phẩm</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/countdown-product-details.html">Chi Tiết Sản Phẩm Đếm Ngược</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-title has-children">
                                            <span class="menu-expand"><i></i></span>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Người Khác</a>
                                            <ul class="dropdown" style="display: none;">
                                                <li><a href="file:///D:/Code/ShopHoa/template/error404.html">Lỗi 404</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/compare.html">So Sánh Trang</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/cart.html">Trang Giỏ Hàng</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/checkout.html">Trang Thanh Toán</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/wishlist.html">Trang Danh Sách Yêu Thích</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children ">
                                    <span class="menu-expand"><i></i></span>
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Blog</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog.html">Thanh Bên Trái Của Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-list-right-sidebar.html">Danh Sách Blog Thanh Bên Phải</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-list-fullwidth.html">Danh Sách Blog Toàn Chiều Rộng</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid.html">Trang Lưới Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid-right-sidebar.html">Lưới Blog Thanh Bên Phải</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-grid-fullwidth.html">Toàn Bộ Chiều Rộng Lưới Blog</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-details-sidebar.html">Chi Tiết Blog Trang Thanh Bên</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/blog-details-fullwidth.html">Chi Tiết Blog Trang Toàn Chiều Rộng</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children ">
                                    <span class="menu-expand"><i></i></span>
                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Trang</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="file:///D:/Code/ShopHoa/template/frequently-questions.html">Câu Hỏi Thường Gặp</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/my-account.html">Tài Khoản Của Tôi</a></li>
                                        <li><a href="file:///D:/Code/ShopHoa/template/login-register.html">Đăng Nhập &amp; Đăng Ký</a></li>
                                    </ul>
                                </li>
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Về Chúng Tôi </a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Chúng Tôi</a></li>
                            </ul>
                        </nav>
                        <!-- kết thúc điều hướng menu di động -->
                    </div>
                    <!-- cuối menu di động -->
                    <div class="offcanvas-widget-area">
                        <div class="switcher">
                            <div class="language">
                                <span class="switcher-title">NGÔN NGỮ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Anh</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Đức</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Pháp</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="currency">
                                <span class="switcher-title">TIỀN TỆ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">$ USD</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">€ EUR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-info-wrap text-left text-black">
                            <ul class="address-info">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="file:///D:/Code/ShopHoa/template/info%40yourdomain.html">(1245) 2456 012</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="file:///D:/Code/ShopHoa/template/info%40yourdomain.html">info@yourdomain.com</a>
                                </li>
                            </ul>
                            <div class="widget-social">
                                <a class="facebook-color-bg" title="Facebook-f" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-facebook-f"></i></a>
                                <a class="twitter-color-bg" title="Twitter" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-twitter"></i></a>
                                <a class="linkedin-color-bg" title="Linkedin" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-linkedin"></i></a>
                                <a class="youtube-color-bg" title="Youtube" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-youtube"></i></a>
                                <a class="vimeo-color-bg" title="Vimeo" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- phần cuối của menu ngoài canvas -->
        <!-- bắt đầu menu ngoài canvas -->
        <aside class="off-canvas-menu-wrapper" id="sideMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="off-canvas-inner">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <!-- bắt đầu khu vực tiện ích offcanvas -->
                    <div class="offcanvas-widget-area">
                        <ul class="menu-top-menu">
                            <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Về Chúng Tôi</a></li>
                        </ul>
                        <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Với một mục tiêu tối thiểu là có thể làm được, điều này sẽ không xảy ra khi bạn phải làm việc quá sức để có được một giải pháp sau mỗi giao dịch. <br> Bạn aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ngoại trừ tội lỗi không thường xuyên xảy ra, đó là lý do tại sao bạn không thể làm điều đó.</p>
                        <div class="switcher">
                            <div class="language">
                                <span class="switcher-title">NGÔN NGỮ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Anh</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Đức</a></li>
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">Tiếng Pháp</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="currency">
                                <span class="switcher-title">TIỀN TỆ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#">$ USD</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="file:///D:/Code/ShopHoa/template/my-account.html#">€ EUR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-info-wrap text-left text-black">
                            <ul class="address-info">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="file:///D:/Code/ShopHoa/template/info%40yourdomain.html">(1245) 2456 012</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="file:///D:/Code/ShopHoa/template/info%40yourdomain.html">info@yourdomain.com</a>
                                </li>
                            </ul>
                            <div class="widget-social">
                                <a class="facebook-color-bg" title="Facebook-f" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-facebook-f"></i></a>
                                <a class="twitter-color-bg" title="Twitter" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-twitter"></i></a>
                                <a class="linkedin-color-bg" title="Linkedin" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-linkedin"></i></a>
                                <a class="youtube-color-bg" title="Youtube" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-youtube"></i></a>
                                <a class="vimeo-color-bg" title="Vimeo" href="file:///D:/Code/ShopHoa/template/my-account.html#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- phần cuối của khu vực tiện ích offcanvas -->
                </div>
            </div>
        </aside>
        <!-- phần cuối của menu ngoài canvas -->
    </header>
    <!-- Khu vực tiêu đề kết thúc ở đây -->
    <!-- Khu vực Breadcrumb bắt đầu ở đây -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Tài Khoản Của Tôi</h3>
                        <ul>
                            <li><a href="file:///D:/Code/ShopHoa/template/index.html">Trang Chủ</a></li>
                            <li>Tài Khoản Của Tôi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Khu vực Breadcrumb kết thúc ở đây -->
    <!-- Bắt đầu trình bao bọc tài khoản của tôi -->
    <div class="my-account-wrapper mt-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-12 col-custom">
                    <!-- Trang tài khoản của tôi bắt đầu -->
                    <div class="myaccount-page-wrapper">
                        <!-- Menu tab tài khoản của tôi Bắt đầu -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-custom">
                                <div class="myaccount-tab-menu nav" role="tablist">

                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#orders" data-bs-toggle="tab" aria-selected="false" role="tab" class="" tabindex="-1"><i class="fa fa-cart-arrow-down"></i> Đơn đặt hàng</a>



                                    <a href="file:///D:/Code/ShopHoa/template/my-account.html#account-info" data-bs-toggle="tab" aria-selected="true" role="tab" class="active"><i class="fa fa-user"></i> Chi tiết tài khoản</a>
                                    <a href="file:///D:/Code/ShopHoa/template/login.html"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                                </div>
                            </div>
                            <!-- Menu tab Tài khoản của tôi Kết thúc -->
                            <!-- Bắt đầu nội dung tab tài khoản của tôi -->
                            <div class="col-lg-9 col-md-8 col-custom">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade" id="dashboad" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Bảng Điều Khiển</h3>
                                            <div class="welcome">
                                                <p>Xin chào, <strong>Alex Aya</strong> (Nếu không phải <strong>Aya !</strong><a href="file:///D:/Code/ShopHoa/template/login-register.html" class="logout"> Đăng xuất</a>)</p>
                                            </div>
                                            <p class="mb-0">Từ bảng điều khiển tài khoản của bạn. bạn có thể dễ dàng kiểm tra và xem các đơn đặt hàng gần đây của mình, quản lý địa chỉ giao hàng và thanh toán cũng như chỉnh sửa chi tiết mật khẩu và tài khoản của mình.</p>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade" id="orders" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Đơn Đặt Hàng</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Đặt hàng</th>
                                                            <th>Ngày</th>
                                                            <th>Trạng thái</th>
                                                            <th>Tổng cộng</th>
                                                            <th>Hoạt động</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Ngày 22 Tháng 8 Năm 2022</td>
                                                            <td>Chưa giải quyết</td>
                                                            <td>$3000</td>
                                                            <td><a href="file:///D:/Code/ShopHoa/template/cart.html" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Ngày 22 Tháng 7 Năm 2022</td>
                                                            <td>Tán thành</td>
                                                            <td>$200</td>
                                                            <td><a href="file:///D:/Code/ShopHoa/template/cart.html" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Ngày 12 Tháng 6 Năm 2022</td>
                                                            <td>Đang chờ</td>
                                                            <td>$990</td>
                                                            <td><a href="file:///D:/Code/ShopHoa/template/cart.html" class="btn flosun-button secondary-btn theme-color  rounded-0">Xem</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade" id="download" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Tải Xuống</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày</th>
                                                            <th>Hết hạn</th>
                                                            <th>Tải xuống</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Haven - Mẫu PSD bất động sản miễn phí</td>
                                                            <td>Ngày 22 Tháng 8 Năm 2022</td>
                                                            <td>Đúng</td>
                                                            <td><a href="file:///D:/Code/ShopHoa/template/my-account.html#" class="btn flosun-button secondary-btn theme-color  rounded-0"><i class="fa fa-cloud-download mr-2"></i>Tải tập tin</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>HasTech - Mẫu hồ sơ kinh doanh</td>
                                                            <td>Ngày 12 Tháng 9 Năm 2022</td>
                                                            <td>Không bao giờ</td>
                                                            <td><a href="file:///D:/Code/ShopHoa/template/my-account.html#" class="btn flosun-button secondary-btn theme-color  rounded-0"><i class="fa fa-cloud-download mr-2"></i>Tải tập tin</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Phương Thức Thanh Toán</h3>
                                            <p class="saved-message">Bạn chưa thể lưu phương thức thanh toán của mình.</p>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Địa Chỉ Thanh Toán</h3>
                                            <address>
                                                <p><strong>Alex Aya</strong></p>
                                                <p>
                                                    1234 Market ##, Suite 900 <br>
                                                    Lorem Ipsum, ## 12345
                                                </p>
                                                <p>Di động: (123) 123-456789</p>
                                            </address>
                                            <a href="file:///D:/Code/ShopHoa/template/my-account.html#" class="btn flosun-button secondary-btn theme-color  rounded-0"><i class="fa fa-edit mr-2"></i>Sửa địa chỉ</a>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                    <!-- Bắt đầu nội dung một tab -->
                                    <div class="tab-pane fade active show" id="account-info" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Chi Tiết Tài Khoản</h3>
                                            <div class="account-details-form">
                                                <form action="file:///D:/Code/ShopHoa/template/my-account.html#">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-custom">
                                                            <div class="single-input-item mb-3">
                                                                <label for="first-name" class="required mb-1">Tên đầu tiên</label>
                                                                <input type="text" id="first-name" placeholder="Tên đầu tiên">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-custom">
                                                            <div class="single-input-item mb-3">
                                                                <label for="last-name" class="required mb-1">Họ</label>
                                                                <input type="text" id="last-name" placeholder="Họ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-input-item mb-3">
                                                        <label for="display-name" class="required mb-1">Tên hiển thị</label>
                                                        <input type="text" id="display-name" placeholder="Tên hiển thị">
                                                    </div>
                                                    <div class="single-input-item mb-3">
                                                        <label for="email" class="required mb-1">Địa chỉ email</label>
                                                        <input type="email" id="email" placeholder="Địa chỉ email">
                                                    </div>
                                                    <fieldset>
                                                        <legend>Thay Đổi Mật Khẩu</legend>
                                                        <div class="single-input-item mb-3">
                                                            <label for="current-pwd" class="required mb-1">Mật khẩu hiện tại</label>
                                                            <input type="password" id="current-pwd" placeholder="Mật khẩu hiện tại">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-custom">
                                                                <div class="single-input-item mb-3">
                                                                    <label for="new-pwd" class="required mb-1">Mật khẩu mới</label>
                                                                    <input type="password" id="new-pwd" placeholder="Mật khẩu mới">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-custom">
                                                                <div class="single-input-item mb-3">
                                                                    <label for="confirm-pwd" class="required mb-1">Xác nhận mật khẩu</label>
                                                                    <input type="password" id="confirm-pwd" placeholder="Xác nhận mật khẩu">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div class="single-input-item single-item-button">
                                                        <button class="btn flosun-button secondary-btn theme-color  rounded-0">Lưu thay đổi</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Kết thúc nội dung một tab -->
                                </div>
                            </div>
                            <!-- Kết thúc nội dung tab tài khoản của tôi -->
                        </div>
                    </div>
                    <!-- Kết thúc trang tài khoản của tôi -->
                </div>
            </div>
        </div>
    </div>
    <!-- kết thúc trình bao bọc tài khoản của tôi -->
    <!--Bắt đầu khu vực chân trang-->
    <footer class="footer-area mt-text-3">
        <div class="footer-widget-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                        <div class="single-footer-widget m-0">
                            <div class="footer-logo">
                                <a href="file:///D:/Code/ShopHoa/template/index.html">
                                    <img src="./FloSun - Flower Shop HTML5 Template_files/logo-footer.png" alt="Logo Image">
                                </a>
                            </div>
                            <p class="desc-content">Lorem Khaled Ipsum là chìa khóa thành công. Để thành công, bạn phải làm việc chăm chỉ, bạn phải làm được.</p>
                            <div class="social-links">
                                <ul class="d-flex">
                                    <li>
                                        <a class="rounded-circle" href="file:///D:/Code/ShopHoa/template/my-account.html#" title="Facebook">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="file:///D:/Code/ShopHoa/template/my-account.html#" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="file:///D:/Code/ShopHoa/template/my-account.html#" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="file:///D:/Code/ShopHoa/template/my-account.html#" title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rounded-circle" href="file:///D:/Code/ShopHoa/template/my-account.html#" title="Vimeo">
                                            <i class="fa fa-vimeo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Thông tin</h2>
                            <ul class="widget-list">
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Công ty chúng tôi</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Liên hệ chúng tôi</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Dịch vụ của chúng tôi</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Tại sao chúng tôi?</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Nghề nghiệp </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Liên kết nhanh</h2>
                            <ul class="widget-list">
                                <li><a href="file:///D:/Code/ShopHoa/template/about-us.html">Về</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/blog.html">Blog</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/shop.html">Cửa hàng</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/cart.html">Xe đẩy</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Ủng hộ</h2>
                            <ul class="widget-list">
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Hỗ trợ trực tuyến</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Chính sách vận chuyển</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Chính sách hoàn trả</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Chính sách bảo mật</a></li>
                                <li><a href="file:///D:/Code/ShopHoa/template/contact-us.html">Điều khoản dịch vụ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Xem thông tin</h2>
                            <div class="widget-body">
                                <address>123, ABC, Đường ##, Thành Phố Chính, Địa chỉ của bạn ở đây.<br>Phone: 01234 567 890<br>Email: https://example.com</address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p>Bản quyền © 2021 <a href="https://hasthemes.com/" title="https://hasthemes.com/">Có chủ đề</a> | Được xây dựng với &nbsp;<strong>FloSun</strong>&nbsp;bởi <a href="https://hasthemes.com/" title="https://hasthemes.com/">Có chủ đề</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Cuối khu vực chân trang-->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery-3.6.0.min.js.download"></script>
    <!-- jQuery Migrate JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery-migrate-3.3.2.min.js.download"></script>
    <!-- Modernizer JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/modernizr-3.7.1.min.js.download"></script>
    <!-- Bootstrap JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/bootstrap.bundle.min.js.download"></script>


    <!-- Swiper Slider JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/swiper-bundle.min.js.download"></script>
    <!-- nice select JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/nice-select.min.js.download"></script>
    <!-- Ajaxchimpt js -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery.ajaxchimp.min.js.download"></script>
    <!-- Jquery Ui js -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery-ui.min.js.download"></script>
    <!-- Jquery Countdown js -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery.countdown.min.js.download"></script>
    <!-- jquery magnific popup js -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/jquery.magnific-popup.min.js.download"></script>

    <!-- Main JS -->
    <script src="/FloSun - Flower Shop HTML5 Template_files/main.js.download"></script>






</body><!-- Mirrored from htmldemo.net/flosun/flosun/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Dec 2022 05:03:27 GMT -->
</html>