@model IEnumerable<ShopHoa.Models.Flower>

@foreach (var item in Model)
{
    <div class="single-item swiper-slide">
        <!--Bắt đầu một sản phẩm-->
        <div class="single-product position-relative mb-30">
            <div class="product-image">
                <a class="d-block" href="/Flower/ShowDetailFlower?id=@item.IdFlower">
                    <img src="/assets/images/product/@item.Image" alt="" class="product-image-1 w-100">
                    <img src="/assets/images/product/2.jpg" alt=""
                         class="product-image-2 position-absolute w-100">
                </a>
                <span class="onsale">Doanh thu!</span>
                <div class="add-action d-flex flex-column position-absolute">
                    <a href="compare.html" title="Compare">
                        <i class="lnr lnr-sync" data-toggle="tooltip" data-placement="left"
                           title="Compare"></i>
                    </a>
                    <a href="wishlist.html" title="Add To Wishlist">
                        <i class="lnr lnr-heart" data-toggle="tooltip" data-placement="left"
                           title="Wishlist"></i>
                    </a>
                    <a href="#exampleModalCenter" title="Quick View" data-bs-toggle="modal"
                       data-bs-target="#exampleModalCenter">
                        <i class="lnr lnr-eye" data-toggle="tooltip" data-placement="left"
                           title="Quick View"></i>
                    </a>
                </div>
            </div>
            <div class="product-content">
                <div class="product-title">
                    <h4 class="title-2"> <a href="/Flower/ShowDetailFlower?id=@item.IdFlower">@item.NameFlower</a></h4>
                </div>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="price-box">
                    <span class="@String.Format("{0:0,00}", @item.Price)"></span>
                    <span class="old-price"><del></del></span>
                </div>
                <a href="##" class="btn product-cart">Thêm vào giỏ hàng</a>
            </div>
        </div>
        <!--Cuối một sản phẩm-->
    </div>

}
