<div class="sidebar" data-color="purple" >
    <div class="logo">
        <a href="~/" class="simple-text logo-mini">
            SH
        </a>

        <a href="~/Admin" class="simple-text logo-normal">
            Shop Hoa
        </a>
    </div>

    <div class="sidebar-wrapper ps-container ps-theme-default">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="~/Areas/Admin/assets/img/new_logo.png" />
                </div>

                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>
                        Admin
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="/admin">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#product">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Sản Phẩm
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="product">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/Flower">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách hoa</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Admin/Flower/CreateFlower">
                                <span class="sidebar-mini">TS</span>
                                <span class="sidebar-normal">Thêm hoa</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#customer">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Khách hàng
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="customer">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/KhachHang">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách khách hàng</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#cart">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Đơn hàng
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="cart">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/Cart">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách đơn</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#evaluate">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Đánh giá
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="evaluate">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/evaluate">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#TypeFlower">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Thể loại
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="TypeFlower">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/Type/ShowTypeFlower">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>