<div class="sidebar" data-color="purple" >
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="logo">
        <a href="~/" class="simple-text logo-mini">
            SH
        </a>

        <a href="~/Admin" class="simple-text logo-normal">
            Shop Hoa
        </a>
    </div>

    <div class="sidebar-wrapper ps-container ps-theme-default">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="~/Areas/Admin/assets/img/new_logo.png" />
                </div>

                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span>
                        Admin
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">MP</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">EP</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>

                        <li>
                            <a href="#pablo">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a data-toggle="collapse" href="#product">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Sản Phẩm
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="product">
                    <ul class="nav">
                        <li>
                            <a href="~/Admin/Product">
                                <span class="sidebar-mini">DS</span>
                                <span class="sidebar-normal">Danh sách sản phẩm</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Admin/Product/Create">
                                <span class="sidebar-mini">TS</span>
                                <span class="sidebar-normal">Thêm sản phẩm</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>