@model List<ShopHoa.Models.Flower>
<div class="row shop_wrapper grid_3">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
            <div class="product-item">
                <div class="single-product position-relative mr-0 ml-0">
                    <div class="product-image">
                        <a class="d-block" href="/Home/Product_Detail?id=@item.IdFlower">
                            <img src="/assets/images/product/@item.Image" alt="" class="product-image-1 w-100">
                            <img src="/assets/images/product/2.jpg" alt=""
                                 class="product-image-2 position-absolute w-100">
                        </a>
                        <span class="onsale">Doanh thu!</span>
                        <div class="add-action d-flex flex-column position-absolute">
                            <a href="compare.html" title="Compare">
                                <i class="lnr lnr-sync" data-toggle="tooltip" data-placement="left"
                                   title="Compare"></i>
                            </a>
                            <a href="wishlist.html" title="Add To Wishlist">
                                <i class="lnr lnr-heart" data-toggle="tooltip" data-placement="left"
                                   title="Wishlist"></i>
                            </a>
                            <a href="#exampleModalCenter" title="Quick View" data-bs-toggle="modal"
                               data-bs-target="#exampleModalCenter">
                                <i class="lnr lnr-eye" data-toggle="tooltip" data-placement="left"
                                   title="Quick View"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-title">
                            <h4 class="title-2">
                                <a href="product-details.html">@item.NameFlower</a>
                            </h4>
                        </div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="price-box">
                            <span class="regular-price ">@String.Format("{0:0,00}", @item.Price)</span>
                            <span class="old-price"><del>$70.00</del></span>
                        </div>
                        <a href="cart.html" class="btn product-cart">Thêm vào giỏ hàng</a>
                    </div>
                    <div class="product-content-listview">
                        <div class="product-title">
                            <h4 class="title-2">
                                <a href="product-details.html">@item.NameFlower</a>
                            </h4>
                        </div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="price-box">
                            <span class="regular-price ">$60.00</span>
                            <span class="old-price"><del>$70.00</del></span>
                        </div>
                        <p class="desc-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Fusce posuere metus vitae arcu imperdiet, id aliquet ante scelerisque. Sed
                            sit amet sem vitae urna fringilla tempus.
                        </p>
                        <div class="button-listview">
                            <a href="cart.html"
                               class="btn product-cart button-icon flosun-button dark-btn"
                               data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                <span>Add to Cart</span>
                            </a>
                            <a class="list-icon" href="compare.html" title="Compare">
                                <i class="lnr lnr-sync" data-toggle="tooltip" data-placement="top"
                                   title="Compare"></i>
                            </a>
                            <a class="list-icon" href="wishlist.html" title="Add To Wishlist">
                                <i class="lnr lnr-heart" data-toggle="tooltip" data-placement="top"
                                   title="Wishlist"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

