
@{
    ViewBag.Title = "formHoiDap";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1 style="text-align:center;margin:auto;padding-top:200px;padding-bottom:200px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Phản hồi của bạn đã được ghi nhận</h1>

