
<header class="main-header-area">
    <!-- Khu vực tiêu đề chính Bắt đầu-->
    <div class="main-header header-sticky">
        <div class="container custom-area">
            <div class="row align-items-center">
                <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                    <div class="header-logo d-flex align-items-center">
                        <a href="/">
                            <img class="img-full" src="/assets/images/logo/logo.png" alt="Header Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                    <nav class="main-nav d-none d-lg-flex">
                        <ul class="nav">
                            <li>
                                <a href="/">
                                    <span class="menu-text">Trang Chủ</span>

                                </a>

                            </li>
                            <li>
                                <a class="active" href="/Flower/ShowListFlower">
                                    <span class="menu-text">Sản phẩm</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>

                                @Html.Action("TypeFlowerMenu", "Home")

                            </li>
                            <li>
                                <a href="##">
                                    <span class="menu-text">Blog</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-submenu dropdown-hover">
                                    <li><a href="blog.html">Thanh Bên Trái Của Blog</a></li>
                                    <li>
                                        <a href="blog-list-right-sidebar.html">Danh Sách Blog Thanh Bên Phải</a>
                                    </li>
                                    <li><a href="blog-list-fullwidth.html">Danh Sách Blog Toàn Chiều Rộng</a></li>
                                    <li><a href="blog-grid.html">Trang Lưới Blog</a></li>
                                    <li><a href="blog-grid-right-sidebar.html">Lưới Blog Thanh Bên Phải</a></li>
                                    <li><a href="blog-grid-fullwidth.html">Toàn Bộ Chiều Rộng Lưới Blog</a></li>
                                    <li><a href="blog-details-sidebar.html">Chi Tiết Blog Trang Thanh Bên</a></li>
                                    <li>
                                        <a href="blog-details-fullwidth.html">
                                            Chi Tiết Blog Trang Toàn Chiều
                                            Rộng
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="menu-text"> Trang</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-submenu dropdown-hover">
                                  

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="/User/ShowTTUser">Tài Khoản Của Tôi</a></li>
                                        <li><a href="~/Account/Logout">Đăng xuất</a></li>

                                    }
                                    else
                                    {
                                        <li><a href="/account/login">Đăng Nhập</a></li>
                                        <li><a href="/account/register">Đăng Ký</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="/user/formLienHe">
                                    <span class="menu-text">Về Chúng Tôi</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-6 col-6 col-custom">
                    <div class="header-right-area main-nav">
                        <ul class="nav">
                            <li class="minicart-wrap">
                                <a href="~/Cart" class="minicart-btn toolbar-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-item_count">0</span>
                                </a>
                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                    <div id="miniCart"></div>
                                    <div class="cart-price-total d-flex justify-content-between">
                                        <h5>Total :</h5>
                                        <h5 id="txtTotal">$0</h5>
                                    </div>
                                    <div class="cart-links d-flex justify-content-between">
                                        <a class="btn product-cart button-icon flosun-button dark-btn"
                                           href="~/Cart">Giỏ Hàng</a>
                                        <a class="btn flosun-button secondary-btn rounded-0"
                                           href="~/Cart/Checkout">Đặt hàng</a>
                                    </div>
                                </div>
                            </li>
                            <li class="sidemenu-wrap">
                                <a href="#"><i class="fa fa-search"></i> </a>
                                <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
                                    <li>
                                        <form action="/Flower/TimKiemTheoTen">
                                            <input name="TenSP" id="search" placeholder="Search" type="text">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="account-menu-wrap d-none d-lg-flex">
                                <a href="#" class="off-canvas-menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="mobile-menu-btn d-lg-none">
                                <a class="off-canvas-btn" href="#">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phần cuối của tiêu đề chính -->
        <!-- bắt đầu menu ngoài canvas -->
        <aside class="off-canvas-wrapper" id="mobileMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="btn-close-off-canvas">
                    <i class="fa fa-times"></i>
                </div>
                <div class="off-canvas-inner">
                    <div class="search-box-offcanvas">
                        <form>
                            <input type="text" placeholder="Search product...">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- bắt đầu menu di động -->
                    <div class="mobile-navigation">
                        <!-- bắt đầu điều hướng menu di động -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children">
                                    <a href="/">Trang Chủ</a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Cửa Hàng</a>
                                    <ul class="megamenu dropdown">
                                        <li class="mega-title has-children">
                                            <a href="#">Bố Cục Cửa Hàng</a>
                                            <ul class="dropdown">
                                                <li><a href="shop.html">Mua Sắm Ở Thanh Bên Trái</a></li>
                                                <li><a href="shop-right-sidebar.html">Mua Sắm Ở Thanh Bên Phải</a></li>
                                                <li>
                                                    <a href="shop-list-left.html">Danh Sách Cửa Hàng Thanh Bên Trái</a>
                                                </li>
                                                <li>
                                                    <a href="shop-list-right.html">Danh Sách Cửa Hàng Thanh Bên Phải</a>
                                                </li>
                                                <li><a href="shop-fullwidth.html">Cửa Hàng Toàn Chiều Rộng</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-title has-children">
                                            <a href="#">Thông Tin Chi Tiết Sản Phẩm</a>
                                            <ul class="dropdown">
                                                <li><a href="product-details.html">Chi Tiết Sản Phẩm Duy Nhất</a></li>
                                                <li>
                                                    <a href="variable-product-details.html">
                                                        Chi Tiết Sản Phẩm Thay
                                                        Đổi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="external-product-details.html">
                                                        Chi Tiết Sản Phẩm Bên
                                                        Ngoài
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="gallery-product-details.html">
                                                        Thư Viện Ảnh Chi Tiết Sản
                                                        Phẩm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="countdown-product-details.html">
                                                        Chi Tiết Sản Phẩm Đếm
                                                        Ngược
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-title has-children">
                                            <a href="#">Người Khác</a>
                                            <ul class="dropdown">
                                                <li><a href="error404.html">Lỗi 404</a></li>
                                                <li><a href="compare.html">So Sánh Trang</a></li>
                                                <li><a href="cart.html">Trang Giỏ Hàng</a></li>
                                                <li><a href="checkout.html">Trang Thanh Toán</a></li>
                                                <li><a href="wishlist.html">Trang Danh Sách Yêu Thích</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children ">
                                    <a href="#">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Thanh Bên Trái Của Blog</a></li>
                                        <li>
                                            <a href="blog-list-right-sidebar.html">Danh Sách Blog Thanh Bên Phải</a>
                                        </li>
                                        <li><a href="blog-list-fullwidth.html">Danh Sách Blog Toàn Chiều Rộng</a></li>
                                        <li><a href="blog-grid.html">Trang Lưới Blog</a></li>
                                        <li><a href="blog-grid-right-sidebar.html">Lưới Blog Thanh Bên Phải</a></li>
                                        <li><a href="blog-grid-fullwidth.html">Toàn Bộ Chiều Rộng Lưới Blog</a></li>
                                        <li><a href="blog-details-sidebar.html">Chi Tiết Blog Trang Thanh Bên</a></li>
                                        <li>
                                            <a href="blog-details-fullwidth.html">
                                                Chi Tiết Blog Trang Toàn Chiều
                                                Rộng
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children ">
                                    <a href="#">Trang</a>
                                    <ul class="dropdown">
                                        <li><a href="frequently-questions.html">Câu Hỏi Thường Gặp</a></li>
                                        <li><a href="my-account.html">Tài Khoản Của Tôi</a></li>
                                        <li><a href="login-register.html">Đăng Nhập &amp; Đăng Ký</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">Về Chúng Tôi </a></li>
                                <li><a href="contact-us.html">Chúng Tôi</a></li>
                            </ul>
                        </nav>
                        <!-- kết thúc điều hướng menu di động -->
                    </div>
                    <!-- cuối menu di động -->
                    <div class="offcanvas-widget-area">
                        <div class="switcher">
                            <div class="language">
                                <span class="switcher-title">NGÔN NGỮ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="#">Tiếng Anh</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="#">Tiếng Đức</a></li>
                                                <li><a href="#">Tiếng Pháp</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="currency">
                                <span class="switcher-title">TIỀN TỆ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="#">$ USD</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="#">€ EUR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-info-wrap text-left text-black">
                            <ul class="address-info">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="info%40yourdomain.html">(1245) 2456 012</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="info%40yourdomain.html">info@yourdomain.com</a>
                                </li>
                            </ul>
                            <div class="widget-social">
                                <a class="facebook-color-bg" title="Facebook-f" href="#">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="linkedin-color-bg" title="Linkedin" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- phần cuối của menu ngoài canvas -->
        <!-- bắt đầu menu ngoài canvas -->
        <aside class="off-canvas-menu-wrapper" id="sideMenu">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <div class="off-canvas-inner">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <!-- bắt đầu khu vực tiện ích offcanvas -->
                    <div class="offcanvas-widget-area">
                        <ul class="menu-top-menu">
                            <li><a href="about-us.html">Về Chúng Tôi</a></li>
                        </ul>
                        <p class="desc-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. <br> Với một mục tiêu tối thiểu là có
                            thể làm được, điều này sẽ không xảy ra khi bạn phải làm việc quá sức để có được một giải
                            pháp sau mỗi giao dịch. <br> Bạn aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Ngoại trừ tội lỗi không thường xuyên xảy ra, đó là
                            lý do tại sao bạn không thể làm điều đó.
                        </p>
                        <div class="switcher">
                            <div class="language">
                                <span class="switcher-title">NGÔN NGỮ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="#">Tiếng Anh</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="#">Tiếng Đức</a></li>
                                                <li><a href="#">Tiếng Pháp</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="currency">
                                <span class="switcher-title">TIỀN TỆ: </span>
                                <div class="switcher-menu">
                                    <ul>
                                        <li>
                                            <a href="#">$ USD</a>
                                            <ul class="switcher-dropdown">
                                                <li><a href="#">€ EUR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="top-info-wrap text-left text-black">
                            <ul class="address-info">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="info%40yourdomain.html">(1245) 2456 012</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="info%40yourdomain.html">info@yourdomain.com</a>
                                </li>
                            </ul>
                            <div class="widget-social">
                                <a class="facebook-color-bg" title="Facebook-f" href="#">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                                <a class="twitter-color-bg" title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="linkedin-color-bg" title="Linkedin" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="youtube-color-bg" title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                                <a class="vimeo-color-bg" title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- phần cuối của khu vực tiện ích offcanvas -->
                </div>
            </div>
        </aside>
        <!-- phần cuối của menu ngoài canvas -->
</header>