<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from htmldemo.net/flosun/flosun/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Dec 2022 05:03:14 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FloSun - Flower Shop HTML5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/wwwroot/assets_customer/images/favicon.ico">

    <!-- CSS
    ============================================ -->
    <link href="~/wwwroot/assets_customer/css/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/vendor/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/vendor/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/vendor/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/plugins/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/plugins/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/plugins/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="asset~/wwwroot/assets_customer/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/wwwroot/assets_customer/css/style.css">

</head>

<body>


    @RenderPage("~/Views/Layout_Shares/Customer/Header.cshtml")
    @RenderBody()
    @RenderPage("~/Views/Layout_Shares/Customer/Footer.cshtml")

   

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="lnr lnr-arrow-up"></i>
    </a>
    <!-- Scroll to Top End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/wwwroot/assets_customer/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="~/wwwroot/assets_customer/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/wwwroot/assets_customer/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/wwwroot/assets_customer/js/vendor/bootstrap.bundle.min.js"></script>


    <!-- Swiper Slider JS -->
    <script src="~/wwwroot/assets_customer/js/plugins/swiper-bundle.min.js"></script>
    <!-- nice select JS -->
    <script src="~/wwwroot/assets_customer/js/plugins/nice-select.min.js"></script>
    <!-- Ajaxchimpt js -->
    <script src="~/wwwroot/assets_customer/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Ui js -->
    <script src="~/wwwroot/assets_customer/js/plugins/jquery-ui.min.js"></script>
    <!-- Jquery Countdown js -->
    <script src="~/wwwroot/assets_customer/js/plugins/jquery.countdown.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="~/wwwroot/assets_customer/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="~/wwwroot/assets_customer/js/main.js"></script>


</body>



</html>